#main{
    display: flex;
    margin: calc(20px + var(--nav-height)) 15px 20px 15px;
    --link-color: #dbdbdb;
}

#quickbar{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 1290px;
    border: 1px solid #000;
    margin-right: 10px;
}

article{
    border-radius: 6px;
    background-color: white;
    flex-grow: 1;
}

#game-infoPanel-mainImage{
    width: 175px;
    object-fit: contain;
    margin-right: 25px;
}

#game-infoPanel-container{
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    background-color: #0a090f;
    color: white;
    padding: 15px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#game-infoPanel-content{
    width: 650px;
}

#game-infoPanel-rank{
    display: flex;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--link-color);
}

#game-infoPanel-rank .fa-crown{
    color: orangered;
    margin-right: 4px;
}

#game-infoPanel-rank a{
    margin-left: 5px;
}

.game-infoPanel-rank-item{
    display: flex;
    margin-left: 10px;
}

.underlined-link {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: var(--link-color);
    text-decoration-style: dotted; 
    text-underline-offset: 4px;
    cursor: pointer;
}

.underlined-link:hover {
    color: white;
    text-decoration-color: white;
    text-decoration-style: dotted; 
    text-underline-offset: 4px;
}


#game-infoPanel-info-container{
    display: flex;
    margin-top: 20px;
}

#game-infoPanel-info-rating-wrapper{
    position: relative;
    height: 55px;
    margin-right: 10px;
}

#game-infoPanel-info-rating-value{
    font-size: 1.25rem;
    font-family: proxima-nova-bold, Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-infoPanel-info-rating-hexagon{
    width: 55px;
    height: auto;
}

#game-infoPanel-info-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#game-infoPanel-info-titleAndYear-wrapper{
    font-family: proxima-nova-bold, Arial, sans-serif;
    display: flex;
    align-items: baseline;
}

#game-infoPanel-info-title{
    font-size: 1.5rem;
    margin-top: 4px;
    margin-right: 5px;
}

#game-infoPanel-info-title:hover{
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}

#game-infoPanel-info-description{
    font-size: 0.92rem;
}

#game-infoPanel-info-AnalysisCounts-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    font-size: 0.875rem;
    color: var(--link-color);    
    width: 330px;
    margin-top: 10px;
}


#game-infoPanel-gameplay-container{
    display: flex;
    margin: 20px 0px;
    border-top: 1px solid #b4b4b4;
}

.game-infoPanel-gameplay-item{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid #b4b4b4;
    padding: 8px;
}

.game-infoPanel-gameplay-big{
    display: flex;
    font-family: proxima-nova-bold, Arial, sans-serif;
}

.game-infoPanel-gameplay-small{
    display: flex;
    font-size: 0.75rem;
    margin-top: 4px;
}

#game-infoPanel-gameplay-weight-questionMark{
    color: var(--link-color);
    margin-left: 2px;
    width: 12px;
}

.last-game-infoPanel-gameplay-item{    
    border-right: 0px solid #b4b4b4;
}


#game-infoPanel-credits-container{
    font-size: 0.875rem;
}

.game-infoPanel-credits-item{
    display: flex;
    margin-bottom: 8px;
}

.game-infoPanel-credits-item-title{
    font-family: proxima-nova-bold, Arial, sans-serif;
}

.game-infoPanel-credits-item-names{
    display: flex;
    color: var(--link-color);
}

#game-infoPanel-credits-container a:hover{
    color: white;
    text-decoration: underline;
}

#game-infoPanel-credits-fullCreditsLink{
    font-size: 0.75rem;
}



#game-infoPanel-rating-container{
    display: flex;
    margin-top: 20px;
}

#game-infoPanel-rating-title{
    font-family: proxima-nova-bold, Arial, sans-serif;
    font-size: 0.875rem;
}

#game-infoPanel-rating-starsContainer{
    display: flex;
    color: gray;
    margin-left: 10px;
}

.game-infoPanel-rating-star:hover{
    color: #dcbc00;
}

#game-infoPanel-buttons-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    height: 30px;
    padding: 1px 0px;

    font-size: 0.875rem;
    font-family: proxima-nova-bold, Arial, sans-serif;
    color: black;
}

.game-infoPanel-button{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    
    background-color: #e9e9ec;
    border-radius: 4px;
    border: none;
    padding: 3px 10px;    
}

.game-infoPanel-button:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    filter: brightness(0.85);
}

#game-infoPanel-button-BuyACopy{
    background-color: #1c7b4b;
    color: white;
}

#game-infoPanel-button-SleeveIt{
    background-color: #3f3a60;
    color: white;
}

.game-infoPanel-button-img{
    width: 16px;
    margin-right: 6px;
}

#game-infoPanel-button-AddToCollection{
    background-color: #005bca;
    color: white;
}

#game-infoPanel-button-likes-heart{
    margin-right: -10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#game-infoPanel-button-likes-img{
    color: #666e75;
    margin-right: 0px;
}

#game-infoPanel-button-likes-hr{
    border: 0.5px solid #666e75;
    width: 0px;
    height: calc(100% - 1px);
    margin: 0px;
}

#game-infoPanel-button-likes-count{
    margin-left: -10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



